{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
				<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li class="active">Daftar Asrama</li>
				</ol>
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='5'>
							Daftar Asrama<a href="{{ path('asrama_new') }}" class='btn btn-primary pull-right'><i class='fa fa-plus'></i> TAMBAH</a>
						</th>
					</tr>
					<tr>
						<th width='5%'>No</th><th width='70%'>Asrama</th><th width='10%'>Status</th><th width='15%'>Action</th>
					</tr>
					{% set i = 1 %}
					{% for entity in entities %}
					<tr>
						<td>{{ i }}</td>
						<td><a class='link' href="{{ path('asrama_show', { 'id': entity.id }) }}">{{ entity.nama }}</a></td>
						<td>Aktif</td>
						<td>
							<a href="{{ path('asrama_edit', { 'id': entity.id }) }}"><i class='fa fa-pencil-square-o'></i>Edit</a>
							<a href='#' class='clear'><i class="fa fa-trash"></i>Hapus</a>
						</td>
					</tr>
					{% set i = i+1 %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
