{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
		<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
			<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li><a href="{{ path('orang') }}">Daftar Orang</a></li>
				  <li class="active">Lihat Data {{ entity.nama }}</li>
			</ol>
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='4'>
							Lihat Data {{ entity.nama }}
						</th>
					</tr>
					<tr>
						<td colspan='2'>
								<label for="exampleInputName2">Nama</label>
						</td>
						<td colspan='2'>
								{{ entity.nama }}
						</td>
					</tr>
					<tr>
						<td colspan='2'>
								<label for="exampleInputName2">No. ID/NIM</label>
						</td>
						<td colspan='2'>
								{{ entity.noidentitas }}
						</td>
					</tr>
					<tr>
						<td colspan='2'>
								<label for="exampleInputName2">Jenis Kelamin</label>
						</td>
						<td colspan='2'>
								{{ entity.jk }}
						</td>
					</tr>
					<tr>
						<td colspan='2'>
								<label for="exampleInputName2">Alamat/Asal</label>
						</td>
						<td colspan='2' valign='top'>
								{{ entity.alamat }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
