{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
		<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
			<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li><a href="{{ path('user') }}">Daftar User</a></li>
				  <li class="active">Tambah User Baru</li>
			</ol>
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='4'>
							Tambah User Baru
						</th>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Email</label>
								{{ form_widget(form.email) }}
							</div>
								{{ form_errors(form.email) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Username</label>
								{{ form_widget(form.username) }}
							</div>
								{{ form_errors(form.username) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								{{ form_widget(form.plainPassword) }}
							</div>
								{{ form_errors(form.plainPassword) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Hak Akses User</label>
								{{ form_widget(form.roles) }}
							</div>
								{{ form_errors(form.roles) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Akses Asrama</label>
								{{ form_widget(form.asrama) }}
							</div>
								{{ form_errors(form.asrama) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
							</div>
						</td>
					</tr>
				</table>
				{{ form_row(form._token) }}
			{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
