{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
		<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
			<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li><a href="{{ path('user') }}">Daftar User</a></li>
				  <li class="active">Lihat Data {{ entity.username }}</li>
			</ol>
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='4'>
							Lihat Data {{ entity.username }}
						</th>
					</tr>
					<tr>
						<td colspan='2'>
								<label for="exampleInputName2">Username</label>
						</td>
						<td colspan='2'>
								{{ entity.username }}
						</td>
					</tr>
					<tr>
						<td colspan='2'>
								<label for="exampleInputName2">Email</label>
						</td>
						<td colspan='2' valign='top'>
								{{ entity.email }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
