{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
				<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li><a href="{{ path('asrama') }}">Asrama</a></li>
				  <li><a href="{{ path('asrama_show', {'id': entityRu.asrama.id}) }}"> {{ entityRu.asrama.nama }} </a></li>
				  <li class="active">Ruang {{ entityRu.nama }}</li>
				</ol>
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='7'>
							Daftar Penghuni di Ruang {{ entityRu.nama }}<a href="{{ path('penghuni_new', {'id': entityRu.id}) }}" class='btn btn-success pull-right'><i class='fa fa-plus'></i> TAMBAH</a>
						</th>
					</tr>
					<tr>
						<th width='5%'>No</th><th width='40%'>Nama</th><th>Jenis Kelamin</th><th>No. ID/NIM</th><th>Tanggal</th><th width='10%'>Status</th><th width='15%'>Action</th>
					</tr>
					{% set pg = app.request.query.get('page') %}
					{% if pg == 1 or pg == null %}
						{% set i = 1 %}
					{% else %}
						{% set i = 25 *( pg-1 ) + 1 %}
					{% endif %}
					{% for entity in entities %}
					<tr>
						<td>{{ i }}</td>
						<td><a class='link' target='_blank' href="{{ path('orang_show', { 'id': entity.orang.id }) }}">{{ entity.orang.nama }}</a></td>
						<td>{{ entity.orang.jk }}</td>
						<td>{{ entity.orang.noidentitas }}</td>
						<td>{{ entity.tanggal|date('d-m-Y') }}</td>
						<td>{% if entity.isactive == 1 %} Aktif {% else %} Tidak Aktif {% endif %}</td>
						<td>
							<a href="{{ path('penghuni_edit', { 'id': entity.id }) }}"><button type='submit' class='btn btn-primary pull-left'><i class='fa fa-pencil-square-o'></i>Edit</button></a>
							{{ form_start(deleteForm[entity.id], {'attr': {'onclick': 'return confirm("Yakin akan menghapus data ini?")'}}) }}
								<button type='submit' class='btn btn-danger pull-left'><i class='fa fa-trash'></i>Hapus</button>
							{{ form_end(deleteForm[entity.id]) }}
						</td>
					</tr>
					{% set i = i+1 %}
					{% endfor %}
				</table>
					<div class="text-center">
						<h4>{{ knp_pagination_render(entities) }}</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
