{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
		<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
			<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li><a href="{{ path('asrama') }}">Asrama</a></li>
				  <li><a href="{{ path('asrama_show', { 'id':ru.asrama.id }) }}">Asrama {{ ru.asrama.nama }}</a></li>
				  <li><a href="{{ path('ruangan_show', { 'id': ru.id }) }}">{{ ru.nama }}</a></li>
				  <li class="active">Tambah Data Penghuni Ruangan</li>
			</ol>
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='4'>
							Tambah Data Penghuni Ruangan 
						</th>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Tanggal</label>
								{{ form_widget(form.tanggal) }}
							</div>
								{{ form_errors(form.tanggal) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Penghuni</label>
								{{ form_widget(form.orang) }} <br><a href="{{ path('orang_new') }}" target="_blank" class="btn btn-success pull-left">Tambah Data Orang Baru</a>
							</div>
								{{ form_errors(form.orang) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Ruang</label>
								{{ form_widget(form.ruangan) }}
							</div>
								{{ form_errors(form.ruangan) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
							</div>
						</td>
					</tr>
				</table>
				{{ form_row(form._token) }}
			{{ form_end(form) }}
			</div>
		</div>
	</div>
	<script>
	$(function() {
		$('#monitor_monitorbundle_penghuni_orang').autocomplete({
			source: "{{ path('orang_search') }}",
			minLength: 2,
			select: function() {
			}
		});
	});
	</script>
{% endblock %}
