{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
		<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
			<ol class="breadcrumb">
				  <li><a href="{{ path('monitor_monitor_homepage') }}">Home</a></li>
				  <li class="active">Report Penghuni Asrama</li>
			</ol>
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<table class='table table-bordered table-hover'>
					<tr>
						<th colspan='4'>
							Report Penghuni Asrama
						</th>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Range Tanggal</label>
								{{ form_widget(form.tanggal_1) }}
								{{ form_widget(form.tanggal_2) }}
							</div>
								{{ form_errors(form.tanggal_1) }}
								{{ form_errors(form.tanggal_2) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Asal Kabupaten</label>
								{{ form_widget(form.provinsi) }}
								{{ form_widget(form.kabupaten) }}
							</div>
								{{ form_errors(form.kabupaten) }}
								{{ form_widget(form.provinsi) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Asrama</label>
								{{ form_widget(form.asrama) }}
							</div>
								{{ form_errors(form.asrama) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Angkatan</label>
								{{ form_widget(form.angkatan) }}
							</div>
								{{ form_errors(form.angkatan) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<label for="exampleInputName2">Jenis Kelamin</label>
								{{ form_widget(form.jk) }}
							</div>
								{{ form_errors(form.jk) }}
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							<div class="form-group">
								<button type='submit' onClick='return check()' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> TAMPILKAN</a>
							</div>
						</td>
					</tr>
				</table>
				{{ form_row(form._token) }}
			{{ form_end(form) }}
			</div>
		</div>
	</div>
	<script type="text/javascript">
    $(document).ready(function () {
        $('#monitor_monitorbundle_report_provinsi').change(function(){
           var val = $(this).val();
           $.ajax({
                type: "POST",
                url: "http://localhost/asrama/web/app_dev.php/orang/provinsi_call?provinsi_id=" + val,
                success: function(data) {
                    // Remove current options
                    $('#monitor_monitorbundle_report_kabupaten').html('<select id="monitor_monitorbundle_report_kabupaten" name="monitor_monitorbundle_report[kabupaten]" class="form-control" placeholder="Kota/Kabupaten Anda"><option value="">-- Pilih Kabupaten --</option></select>');
                    $.each(data, function(k, v) {
                        $('#monitor_monitorbundle_report_kabupaten').append('<option value="' + v + '">' + k + '</option>');
                    });
                }
            });
            return false;
        });
    });
    function check()
    {
    	var tgl1 = document.getElementById('monitor_monitorbundle_report_tanggal_1').value;
    	var tgl2 = document.getElementById('monitor_monitorbundle_report_tanggal_2').value;
    	var tgla = tgl1.split("-");
    	var tglb = tgl2.split("-");
    	var dateOne = new Date(tgla[2], tgla[1], tgla[0]);
	    var dateTwo = new Date(tglb[2], tglb[1], tglb[0]);
	       if (dateOne > dateTwo) {
	            alert("Tanggal Awal Harus Kurang Dari atau = Tanggal Akhir.");
	            return false;
	        }
	    return true;
    }
</script>
{% endblock %}
